profile = default
version = 0.27.0
margin = 80
break-cases = fit-or-vertical
break-infix = fit-or-vertical
break-fun-decl = smart
break-fun-sig = smart
break-sequences = true
cases-exp-indent = 2
doc-comments = before
field-space = loose
if-then-else = compact
indicate-nested-or-patterns = unsafe-no
let-and = compact
sequence-style = separator
space-around-arrays = true
space-around-lists = true
space-around-records = true
space-around-variants = true
type-decl = compact
wrap-comments = true
